body{
    margin: 0;
}
nav{
    background-color: rgb(228, 151, 238);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}
.logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 4rem;
}
.menu{
    display: flex;
    gap: 3rem;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#toggle,.hamburger{
    display: none;
}
@media (max-width: 760px) {
    nav{
        justify-content: space-between;
    }
    .hamburger{
        color: white;
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        cursor: pointer;
    }
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(228, 151, 238);
        flex-direction: column;
        /* display: flex; */
        }
        #toggle:checked~.menu{
            display: flex;
        }
    
}