*{
    margin: 0;
    font-family: cursive;
}
nav , nav .menu{
    background-color: rgb(0, 0, 0);
    height: 3rem;
    color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
    padding-right: 3rem;
    /* box-shadow: 0px 3px 4px rgb(255, 255, 255); */
    position: sticky;
    top: 0;
    /* width: 100%; */
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    background-color: black;
}
.logo img{
    height: 40px;
    width:5vw;
    /* padding-right: 700px; */
    /* margin-right: 4rem; */
}
#toggle,.hamburger{
    display: none;
}
.homePage{
    padding: 40px 40px;
    width: 750px;
}
.Anja_img{
    display: flex;
    justify-content: center;
}
.Anja_img img{
    height: 450px;
    width: 350px;
    border-radius: 70px;
}
#home{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 100vh;
}
#about{
    color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    /* background-image: url(public/images/about-bg2); */
}
#about h1{
    display: flex;
}
#about p{
    font-size: larger;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills{
    height: 100vh;
    background-image: url(public/images/bg-skills-img);
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.left-s{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.right-s{
     display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.right-s h2{
    color: white;
    height: 60px;
    width: 270px;
     background-color: rgb(59, 55, 55);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-s h2{
    color: white;
    height: 60px;
    width: 220px;
    background-color: rgb(59, 55, 55);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-s h3{
    color: rgb(0, 0, 0);
     height: 60px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.right-s h3{
      color: rgb(0, 0, 0);
     height: 60px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}
#project{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-image: url(public/images/plain_gray_hd_gray.jpg);
}
#project h1{
    color: white;
    padding: 20px;
    padding-top: 20px;
}
.project-con{
    background-color: rgb(48, 41, 41);
     height: 70vh;
    width: 50vw;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project-con img{
    border-radius: 40px;
    height: 58vh;
    width: 50vw;

}
.pro-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
.description-pro{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    gap: 20px;
    /* padding: 7px; */
    color: white;
    width: 45vw;
    height: 65vh;
    position: absolute;
    /* bottom: 10px ; */
}
.description-pro i{
    padding-bottom: 10px;
}
.description-pro p{
    font-size: 13px;
    /* margin-top: 10px; */
}
.description-pro a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 600px; */
}
#contact form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    padding-left: 200px;
    padding-top: 70px;
}
#contact input{
    display: flex;
    width: 300px;
    height: 50px;
}
#contact button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 70px;
}
.contact-div{
    display: flex;
    gap: 100px;
}
.address{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
        gap: 20px;

}
.detail1, .detail2,.detail3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer{
    display: flex;
    justify-content: center;
    /* align-items: end; */
    padding: 10px;
    font-size: smaller;
}
@media (max-width: 760px) {
    nav{
        /* display: block; */
        justify-content: space-between;
        background-color: black;
        /* display: flex; */
    }
    .hamburger{
        color: white;
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
        font-size: 25px;
        cursor: pointer;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        gap: 2px;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        }
        /* .menu a{
            display: none;
        } */
        .logo img{
            padding-right: 0px;
            height: 50px;
            width: 50px;
        }
        #toggle:checked~.menu{
            display: flex;
        }
        body{
            margin: 0px;
            width: 100vw;
        }
        #home{
            display: flex;
            flex-direction: column-reverse;
            width: 100vw;
            height: 100vh;
        }
        .homePage{
            width: 90%;
        }
        .homePage h1{
            font-size: 30px
        }
        .Anja_img img{
            height: 300px;
            width: 250px;
        }
        #about{
            padding-left: 0px;
        }
        #about p{
            width: 80vw;
            font-size: medium;
            display: flex;
            justify-content: center;
            align-items: center;
            /* overflow: hidden; */
        }
        #skills{
            height: 170vh;
            display: flex;
            flex-direction: column;
        }
        #project {
            padding: 0;
        }
        .project-con{
            /* justify-content: flex-start; */
            align-items: flex-start;
            width: 65vw;
        }
        .project-con img{
            height: 40vh;
            width: 65vw;
            border-radius: 20px;
        }
        .pro-con {
            z-index: 1;
            height: 50vh;
            /* width: 95vw; */
            /* justify-content: center; */
            /* align-items: flex-start; */
            /* padding-left: 50px; */
        }
        .description-pro {
            width: 70vw;
            position: relative;
            bottom: 25px;
            /* top: 3000px; */
            /* z-index: 30px; */
        }
        .description-pro p{
            font-size: 8px;
        }
        .description-pro a{
            font-size: 9px;
        }  
        .contact-div{
            display: flex;
            flex-direction: column;
            
        }
        #contact{
            height: auto;
        }
        #contact form{
            padding-left: 0px;
            padding-top: 70px;
        }
        #contact input{
            width: 200px;
            border: 1px solid black;
        }
        footer{
            margin-top: 0;
            display: flex;
            
        }
    
}
